<!-- first view -->

<li
  *ngIf="isFirstView"
  fxLayout
  fxLayoutAlign="space-between center"
  class="hero__container"
>
  <div class="hero__avatar">
    <img [src]="hero.img" />
  </div>
  <div class="hero__name" fxFlex fxFlexOffset="10%">
    {{ hero.name }}
  </div>
  <div
    class="hero__alter-ego"
    fxFlex="25%"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <label>Alter ego</label>

    <div *ngFor="let heroXhr of heroesXhr">
      <div *ngIf="heroXhr.superhero === hero.name">
        {{ heroXhr.alter_ego || '???' }}
      </div>
    </div>
  </div>

  <div
    class="hero__power"
    fxFlex="25%"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <label>Power</label>
    <div>{{ hero.power || '???' }}</div>
  </div>
  <div fxFlex="15%" class="hero__actions">
    <button (click)="edit(hero)">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
        />
      </svg>
    </button>
    <button (click)="delete(hero.name)">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
        />
        <path d="M0 0h24v24H0z" fill="none" />
      </svg>
    </button>
  </div>
</li>

<!-- second view -->

<li *ngIf="!isFirstView" class="hero-card">
  <div class="hero__avatar">
    <img [src]="hero.img" />
  </div>
  <div class="hero__content">
    <div class="hero__name">
      {{ hero.name }}
    </div>

    <div class="hero__alter-ego">
      <label>Alter ego</label>
      <div *ngFor="let heroXhr of heroesXhr">
        <div *ngIf="heroXhr.superhero === hero.name">
          {{ heroXhr.alter_ego || '???' }}
        </div>
      </div>
    </div>

    <div class="hero__power">
      <label>Power</label>
      <div>{{ hero.power || '???' }}</div>
    </div>

    <div class="hero__actions">
      <button (click)="edit(hero)">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
          />
        </svg>
      </button>
      <button (click)="delete(hero.name)">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
    </div>
  </div>
</li>
