h1,
h2 {
  text-align: center;
  font-family: 'Bangers', cursive;
  color: #0379f0;
}
ul {
  padding: 0;
}
.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 8px;
  padding: 16px;
}
button {
  cursor: pointer;
}
.Change-view-btn {
  margin: 20px auto;
  display: block;
  padding: 10px 30px;
  text-transform: uppercase;
  background-color: #0379f0;
  color: white;
  border: none;
  border-radius: 3px;
}

// form styles
.creation-form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 24px;

  label {
    display: block;
    width: 100px;
    font-size: 11px;
    margin-bottom: 5px;
  }

  button {
    margin: 20px auto;
    display: block;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: #33cc99;
    color: white;
    border: none;
    border-radius: 3px;

    &:disabled {
      background-color: #9efadb;
      cursor: not-allowed;
    }
  }

  .field-group {
    margin-bottom: 20px;
  }
}

input {
  display: block;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
  padding: 10px;
}
